<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title> {% block title %} Halley Comet {% endblock %}</title>
<link href="/static/hc_share.css" rel="stylesheet" type="text/css"> 
<style>
@import url('/static/reset.css');
</style>
</head>
<body>
{% block body %}
<div class="main">{% block main %}
	<div id="header">{% block header %}

    <div style="float:right" >{% block nav %}
	{% if user.username %}
	<div>{{user.username}}  <a href="/logout/">注销</a><div>
	{% endif %}
        <a href="/regist/" >注册</a>
        <a href="/login/" >登录</a>
		{% endblock %}
    </div>
	<div style="float:left;" ><img src="/static/t.jpg" height="60px;"/></div>
	<div style="margin-left:140px;" >
	<br />
	<h2>哈雷彗星项目组：最佳五人组</h2>
	<h5>Halley's Comet Project Develop Team : TopFive</h5>
	</div>
	{% endblock %}
{% endblock %}	
</div><hr />
<div id="content">
{% block content %}
<div id="searchinfo" >
	<form method="post" >
	{{lu.as_p}}
	<input id="searchbtn" type="submit" value="缩短" />
	</form>
{%  endblock%}
</div>

<div id="returninfo">{% block returninfo%}
<h2>缩短以后的域名：</h2><br />

<div id="nowinfo"><a  id="js_get_short_url" href="{{long_url}}" >{{short_url}}</a></div>

<div>
<input id="J_copy_clipboard_data" type="button" value="copy" />
{% endblock %}
</div>
<div id="nowinfobtn">
</div>
</div>

	<div class="demo">
		<a class="share" style=" width:100px; text-align:center; line-height:30px; height:30px; margin:10px auto;font-size:16px; display:block; text-decoration:none; padding:10px; border:1px dashed #cfcfcf;" href="javascript:void(0)">分享</a>

	</div><hr />

<div id="footer">{% block footer%}
<br />
<h2>哈雷彗星项目组：最佳五人组</h2>
<h5>Halley's Comet Project Develop Team : TopFive</h5>{% endblock%}

</div>
{% block ex%}{% endblock %}
<script type="text/javascript" src="/static/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/jzclip.js"></script>
<script language="javascript">
$(document).ready(function(){
	if($("#js_get_short_url").html()==""){
		$("#J_copy_clipboard_data").hide();
	}
	else{
		$("#J_copy_clipboard_data").show();
	}
	});
</script>
<script type="text/javascript" src="/static/hc_share.js"></script>
{% endblock %}
</body>
</html>
